<style type="text/css">
.bgimg {
    background-image: url('../assets/images/ProfilePic.jpg');
}
</style>
<div class="bgimg">
    <h1>HOME PAGE</h1>
    <%= link_to 'ABOUT', about_path %></br>
    <%= image_tag 'ProfilePic.jpg' %>
</div>